extends ../layout

block content
    input#currentUserId(type="hidden" value=currentUserId)
    
    .back-button-container.mb-3
        a.btn.btn-dark.back-btn(href="/admin/userslist")
            i.fas.fa-arrow-left.me-2
            | Back to Users
            
    .friends-list-container
        h1 Friends of User
        
        table.friends-table
            if friends && friends.length
                each friend in friends
                    tr.friend-row(data-user-id=friend.id)
                        td.col-md-1
                            .friend-avatar
                                img.friend-photo(src=friend.photo alt="Friend Avatar")
                        td.col-md-2
                            .friend-name #{friend.fullname}
                        td.col-md-3
                            .friend-email #{friend.email}
                        td.col-md-4
                            .friend-status
                                if friend.status
                                    span(class=`status-${friend.status.toLowerCase()}`) #{friend.status}
                                else
                                    span.status-unknown Unknown
                        td.col-md-5
                            button.btn.btn-outline-danger.delete-friend-btn(
                                type="button" 
                                data-friend-id=friend.friendId || friend.id 
                                title="Delete from friends?"
                            ) 
                                i.fas.fa-times-circle
                                span.ms-1 X
            else
                .no-friends No friends found